img {
    display: inline-block;
    vertical-align: middle;
    float: none;
    max-width: 100%;
    aspect-ratio: 1.3;
}

.img-hover  {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position:relative;
    z-index: 0;
}
.img-hover:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
    z-index: 2;
}

.img-hover:hover:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:30px;
    height:30px;
}

.case {
    border: solid black 2px;
}

#block1 {
    margin-top: 50px;
}

.progress {
    position: relative;
}

#bar {
    height: 32px;
    position: relative;
    left: 0%;
}

#menuBar {
    height: 32px;
    position: relative;
    left: 0%;
}

.choice-taille {
    background-color: white;
}

.choice:hover {
    background-color: blue;
}

.choice.active {
    background-color: green;
}

.card-body.elt {
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

span {
    margin: 0 auto;
}

.rm-panier, .panier-rm-menu {
    cursor: pointer;
}